body {
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

.table {

    display: table;
    width: 100%;
    height: 100%;
}

.table .cell {

    display: table-cell;
    vertical-align: middle;
}

.grid {
    margin: 0 auto;
}

td {
    position: relative;

    padding: 10px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;

    cursor: pointer;

    background-color: #f2bf8a;
    border: 1px solid #000;

    text-align: center;
    vertical-align: middle;
}

td.black {
    background-color: #8e4b39;
    color: #fff;
}

td.blue {
    background-color: rgba(0, 150, 255, .5);
}
